
.curseclient
/saves/
/schematics/
/screenshots/
/downloads/
/mods/
/resourcepacks/
/shaderpacks/
/logs/
/jei/world/
/Xaero*
usercache.json
usernamecache.json
realms_persistence.json
minecraftinstance.json
