[submodule "global_packs/required_data/asteroid-dimension"]
	path = global_packs/required_data/asteroid-dimension
	url = https://github.com/FreshAlacrity/asteroid-dimension
[submodule "global_packs/required_data/in-game-timer"]
	path = global_packs/required_data/in-game-timer
	url = https://github.com/FreshAlacrity/in-game-timer
