
.curseclient
/saves/
/schematics/
/screenshots/
/downloads/
/mods/
/resourcepacks/
/logs/
/Xaero*
usercache.json
usernamecache.json
realms_persistence.json
minecraftinstance.json
global_packs/required_data/in-game-timer
